* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text {
  padding: 20px 0px 0px 20px;
  color: grey;
}

main {
  width: 840px;
  margin: 50px auto;
}

.introduction1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

.introduction2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

.introduction3 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

.introduction4 {
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
