* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: auto;
  height: 50px;
  background-color: red;
}

.top {
  width: auto;
  height: 500px;
  background-color: orange;
}

.bottom {
  width: 960px;
  height: 1400px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
}

.left {
  width: 230px;
  height: 1400px;
  background-color: lightgreen;
}

.center {
  width: 500px;
  height: 1400px;
  background-color: green;
}

.right {
  width: 230px;
  height: 1400px;
  background-color: lightgreen;
}

.footer {
  width: auto;
  height: 100px;
  background-color: blue;
}
