* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.navigation {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.list {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.a {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.b {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.c {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.d {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.e {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.f {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.g {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.h {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.i {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.j {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.k {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.l {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: grey;
}
